In [1]:
user = 'root'
password = ''
host = '127.0.0.1'
database = 'per_etudiants'
port = 3306

In [2]:
from sqlalchemy import create_engine
db = f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}'
engine = create_engine(db)

In [3]:
from sqlalchemy import inspect
inspector = inspect(engine)
# Pour MySQL, pas besoin de spécifier le schema "public"
tables = inspector.get_table_names()
print("Tables disponibles:", tables)

Tables disponibles: ['cours', 'inscription', 'instituteurs', 'étudiants', 'évaluation']

In [6]:
import pandas as pd
etudiants = pd.read_sql("select * from étudiants", engine)

In [9]:
print(etudiants)

   id_etudiant        nom   prenom  age      sexe date_de_naissance  \
0            1  Ouédraogo     Jean   20  Masculin        2005-03-15
1            2      Zongo    Aïcha   22   Féminin        2003-07-12
2            3   Sawadogo     Paul   21  Masculin        2004-01-10
3            4     Kaboré    Nadia   23   Féminin        2002-05-22
4            5      Sanou    Brice   24  Masculin        2001-11-03
5            6   Compaoré  Mariama   19   Féminin        2006-08-09
6            7    Ilboudo  Jacques   20  Masculin        2005-09-25
7            8    Kouanda    Alice   22   Féminin        2003-04-30
8            9    Bationo    Oumar   21  Masculin        2004-12-17
9           10     Traoré    Fatou   23   Féminin        2002-06-01

                       email
0    jean.ouedraogo@mail.com
1       aicha.zongo@mail.com
2     paul.sawadogo@mail.com
3      nadia.kabore@mail.com
4       brice.sanou@mail.com
5  mariama.compaore@mail.com
6   jacques.ilboudo@mail.com
7     alice.kouanda@mail.com
8     oumar.bationo@mail.com
9      fatou.traore@mail.com